:root {
  --transition: all .3s ease-in-out;
  --transform-moveup-small: translateY(calc((-100% - 380px) / 2));
  --transform-moveup-large: translateY(calc((-100% - 472px) / 2));
  --transform-moveup-scale-large: scale(1.2) translateY(calc((100% - 472px - 50%) / 2));
}

html, body {
  height: 100%;
  font-family: Roboto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

button {
  user-select: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, section {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-content {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  height: 100%;
  transform: translateY(0);
  padding-top: 1rem;
  overflow: hidden;
}

.home-content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.home-content .text {
  /* margin-top: 1rem;
  margin-bottom: 2rem; */
}

#start {
  background-image: linear-gradient(160deg, #5dbbc1 25%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #2c529a, #2c529a);
  color: #fff;
  width: 100%;
}

.page-content.started .home-content img {
  transform: var(--transform-moveup-large);    
}

.page-content.started .home-content .text {
  transform: var(--transform-moveup-large);
}

.page-content.started .home-content #start {
  transform: var(--transform-moveup-large);
}

.page-content .home-content, .page-content .home-content * {
  transition: var(--transition);
}

.page-content .home-content img {
  visibility: visible;
  opacity: 1;
  margin-bottom: 1rem;
}

.page-content.started .home-content img {
  visibility: hidden;
  opacity: 0;
}

.page-content .home-content #start {
  visibility: visible;
  opacity: 1;
  margin-top: 2rem;
}

.page-content.started .home-content #start {
  visibility: hidden;
  opacity: 0;
}

.page-content .gradient-circle {
  background-image: url('./img/rounded-gradient.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
  width: 100%;
  max-height: 550px;
  transition: var(--transition);
  transform: translateY(100%);
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-content.started .gradient-circle {
  transform: translateY(0%);
  visibility: visible;
}

.gradient-circle--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}

.qr-instructions {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  padding: 0 1.5rem;
}

.qr-code-icon {
  margin: 1rem 0;
}

.controls-wrapper {
  padding: 1.5rem;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

@media (max-height: 460px) {
  .page-content .gradient-circle {
    padding-top: 2.5rem;
  }
  .qr-code-icon {
    width: 60px;
  }
}

@media (max-height: 600px) {
  .qr-code-icon {
    width: 100px;
  }

  .page-content.started .home-content img {
    transform: var(--transform-moveup-small);    
  }

  .page-content.started .home-content .text {
    transform: var(--transform-moveup-small);
  }

  .page-content.started .home-content #start {
    transform: var(--transform-moveup-small);
  }
}

@media (min-width: 768px) {
  .page-content .gradient-circle {
    background-image: linear-gradient(135deg, #5DBBC1, 70%, #2C529A)
  }
  .page-content.started .home-content .text {
    transform: var(--transform-moveup-scale-large);
  }
}