:root {
  --transition: all .3s ease-in-out;
}

html, body {
  height: 100%;
  font-family: Roboto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

button {
  user-select: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, section {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1rem;
  overflow: hidden;
}

.page-content .home-content, .page-content .home-content * {
  transition: var(--transition);
}

.page-content .home-content img {
  visibility: visible;
  opacity: 1;
  height: 175px;
}

.page-content.started .home-content img {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.page-content .home-content #start {
  visibility: visible;
  opacity: 1;
  /* min-height: 66px; */
}

.page-content.started .home-content #start {
  visibility: hidden;
  opacity: 0;
  min-height: 0;
  height: 0;
}

.page-content.started .home-content {
  /* transform: translateY(calc(-406px / 3)); */
  height: 140px;
  /* flex-grow: 1; */
}

.page-content .gradient-circle {
  background-image: url('./img/rounded-gradient.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  height: 0%;
  padding-top: 0rem;
  width: 100%;
  max-height: 550px;
  transition: var(--transition);
}

.page-content.started .gradient-circle {
  padding-top: 3rem;
  height: 100%;
}

.gradient-circle--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem 1.5rem;
}

.qr-code-icon {
  margin: 1rem 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 374px) {
  .page-content {
    padding-top: 0;
  }
  .page-content.started {
    padding-top: 1rem;
  }
  .page-content.started .home-content {
    height: 100px;
  }
}

@media (max-height: 460px) {
  .page-content.started .gradient-circle {
    padding-top: 2.5rem;
  }
  .qr-code-icon {
    width: 60px;
  }
}

@media (max-height: 600px) {
  .qr-code-icon {
    width: 100px;
  }
}