#result-screen {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .gradient-circle-2 {
    align-self: stretch;
    align-items: center;
    background-image: url("../../img/rounded-gradient-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 125px;
    margin-bottom: 1rem;
  }

  .avatar {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    min-width: 175px;
    min-height: 175px;
  }

  .result-text {
    margin-bottom: 1rem;
  }

  .bad-result {
    background-image: url('../../img/crossed-ballot.svg');
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
    width: 175px;
    height: 175px;
    min-width: 175px;
    min-height: 175px;
  }

  @media (max-height: 500px) {
    .result-text {
      margin-bottom: 0.5rem;
    }

    .avatar {
      width: 125px;
      height: 125px;
      min-width: 125px;
      min-height: 125px;
    }

    .bad-result {
      width: 125px;
      height: 125px;
      min-width: 125px;
      min-height: 125px;
    }

    .gradient-circle-2 {
      min-height: 100px;
    }
  }
}
